./crankshaft
crankshaft-test
crankshaft-valgrind.txt
crankshaft-test-valgrind.txt
googleKeysCache.json
a.sqlite
obj/
lib/
build/
secrets/
storage/
.idea/
*.swp
.ccls*
.clangd
root
keys
test/autogen-test.*
